#about-us{
    width: 100%;
    margin-top: 4.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#about-us::after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 4.5em;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url('../../img/office.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.section{
    min-height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.role-text {
    font-family: 'Lora', serif;
    font-size: 23pt;
    font-weight: 900;
    letter-spacing: 1.5px;
    margin-left: 50px;
    color: #7c0c00;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.role-description {
    word-wrap: break-word;
    font-family: 'Lora', serif;
    font-size: 15pt;
    font-weight: 900;
    letter-spacing: 1.5px;
    color: #7c0c00;
    text-align: center;
}

.role-social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about-social-icons {
    height: 40px;
    margin: 20px;
}

.image-cropper{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

#danny-headhsot{
    display: inline;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 1500px) {
    #about-us{
        flex-direction: column;
    }
    .section {
        width: 100%;
        height: 50%;
        opacity: 1;
    }

}

@media screen and (max-width: 800px) {
    #about-us{
        flex-direction: column;
    }

    .section {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 100%;
        height: 50%;
        opacity: 1;
        margin: 0px;
    }

    .role-text {
        margin-left: auto;
        margin-right: auto;
        font-size: 5vw;
    }

    .role-description {
        font-size: 3vw;
        margin-left: auto;
        margin-right: auto;
    }

    .about-social-icons {
        max-width: 30%;
        height: auto;
    }
    
    .image-cropper{
        width: 35%;
        height: 35%;
        height: auto;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }
    
    #danny-headhsot{
        display: inline;
        margin: 0 auto;
        width: 100%;
    }

}