#parrallax-section{
    background-color: skyblue;
    height: 100vh;
}

#parrallax-section::before{
    content: "";
    display: block;
    width: 100%;
    height: 2%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    // transform: translateY(-50%);
    background: linear-gradient(green, transparent);
    pointer-events: none;
}

#cloud1 {
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    margin-left: 100px;
}

#cloud2 {
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    margin-left: 1000px;
}

#ground {
    position: absolute;
    bottom: 0;
    height: 100px;
    background-color: green;
    width: 100%;
    z-index:2;
}

#header-text{
    font-size: 130pt;
    font-weight: 800 !important;
    // font-family: 'Crimson Text', serif;
    // font-family: 'Oxygen', sans-serif;
    font-family: 'Livvic', sans-serif;
    // letter-spacing: 5px;
    color: black;
    width: 70%;
    height: 80%;
    z-index: 2;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    // text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#sun{
    position: absolute;
    height: 200px;
    top: 0;
    left: 0;
}

#dump-truck {
    position: absolute;
    bottom: 0;
    z-index: 3;
}

#house {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 100px;
    z-index: 3;
}

#money{
    height: 300px;
    transform: rotate(-70deg);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 250px;
    margin-left: 150px; 
    z-index: 2;
}

#person{
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
    height: 200px;
    right: 0;
    margin-right: 400px;
    z-index: 4;
}

#front-tire{
    height: 130px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 101px;
    margin-left: 72px;
    z-index:4;
}

#back-tire {
    height: 130px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 101px;
    margin-left: 351px;
    z-index:4;
}

#grass1 {
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 95px;
    margin-left: 550px;
    z-index: 5;
}

#grass2 {
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 95px;
    margin-left: 460px;
    z-index: 3;
}

#tree{
    position: absolute;
    height:750px;
    bottom: 0;
    left: 0;
    margin-left: 100px;
    z-index: 1;
}
