#parrallax-section{
    background-color: skyblue;
    height: 100vh;
}

#parrallax-section::before{
    content: "";
    display: block;
    width: 100%;
    height: 2%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    // transform: translateY(-50%);
    background: linear-gradient(green, transparent);
    pointer-events: none;
}

#cloud1 {
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    margin-left: 100px;
}

#cloud2 {
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    margin-left: 60%;
}

#ground {
    position: absolute;
    bottom: 0;
    height: 11vh;
    background-color: green;
    width: 100%;
    z-index:2;
}

#header-text{
    font-size: 125pt;
    font-weight: 800 !important;
    // font-family: 'Crimson Text', serif;
    // font-family: 'Oxygen', sans-serif;
    font-family: 'Livvic', sans-serif;
    // letter-spacing: 5px;
    color: black;
    width: 70%;
    height: 80%;
    z-index: 2;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    // text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#sun{
    position: absolute;
    height: 200px;
    top: 0;
    left: 0;
}

#dump-truck {
    position: absolute;
    bottom: 0;
    z-index: 3;
}

#house {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 11vh;
    z-index: 3;
}

#money{
    height: 70px;
    // transform: rotate(90deg);
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10vh;
    margin-right: 580px; 
    z-index: 5;
}

#money1{
    height: 70px;
    transform: rotate(-20deg);
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10vh;
    margin-right: 550px; 
    z-index: 5;
}

#money2{
    height: 70px;
    transform: rotate(20deg);
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10vh;
    margin-right: 600px; 
    z-index: 3;
}

#grass1 {
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10.5vh;
    margin-left: 28%;
    z-index: 5;
}

#grass2 {
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10.5vh;
    margin-left: 23%;
    z-index: 3;
}

#tree{
    position: absolute;
    height:750px;
    bottom: 0;
    left: 0;
    margin-bottom: 6vh;
    margin-left: 7%;
    z-index: 1;
}

#mailbox {
    position: absolute;
    height: 200px;
    bottom: 0;
    right: 0;
    margin-right: 550px;
    margin-bottom: 10vh;
}

@media screen and (max-width: 1600px) {
    #cloud1 {
        max-width: 20%;
        margin-top: 9%;
        margin-left: 9%;
    }
    
    #cloud2 {
        max-width: 30%;
        margin-top: 100px;
        margin-left: 60%;
    }

    #sun{
        position: absolute;
        max-width: 30%;
    }

    #header-text{
        font-size: 11vh;
    }

    #house {
        max-width: 30%;
        margin-bottom: 11vh;
    }

    #mailbox {
        max-width: 7%;
        height: auto;
        margin-right: 34%;
        margin-bottom: 11vh;
    }

    #money{
        max-width: 3%;
        height: auto;
        margin-right: 35.5%; 
        margin-bottom: 10.5vh;
    }
    
    #money1{
        max-width: 3%;
        height: auto;
        margin-right: 34.5%;
        margin-bottom: 10.5vh;
    }
    
    #money2{
        max-width: 3%;
        height: auto;
        margin-right: 36.5%; 
        margin-bottom: 10.5vh;
    }

    #grass1 {
        max-width: 3%;
        height: auto;
        margin-bottom: 10.5vh;
        margin-left: 20%;
    }
    
    #grass2 {
        max-width: 3%;
        height: auto;
        margin-bottom: 10.5vh;
        margin-left: 30%;
    }
    
    #tree{
        max-width: 45%;
        height: auto;
        margin-left: 4%;
        margin-bottom: 9vh;
    }
}

@media screen and (min-width: 2890px) {
    #cloud1 {
        min-height: 20%;
        margin-top: 5%;
        margin-left: 5%;
    }
    
    #cloud2 {
        min-height: 30%;
        margin-top: 100px;
        margin-left: 60%;
    }

    #sun{
        position: absolute;
        min-height: 20%;
    }

    #header-text{
        font-size: 15vh;
    }

    #house {
        min-height: 40%;
        margin-bottom: 11vh;
    }

    #mailbox {
        min-height: 15%;
        width: auto;
        margin-right: 30%;
        margin-bottom: 10vh;
    }

    #money{
        max-width: 3%;
        height: auto;
        margin-right: 30.75%; 
        margin-bottom: 10vh;
    }
    
    #money1{
        max-width: 3%;
        height: auto;
        margin-right: 29.5%;
        margin-bottom: 10vh;
    }
    
    #money2{
        max-width: 3%;
        height: auto;
        margin-right: 32%; 
        margin-bottom: 10vh;
    }

    #grass1 {
        max-width: 3%;
        height: auto;
        margin-bottom: 10.5vh;
        margin-left: 20%;
    }
    
    #grass2 {
        max-width: 3%;
        height: auto;
        margin-bottom: 10.5vh;
        margin-left: 30%;
    }
    
    #tree{
        min-height: 60%;
        width: auto;
        margin-left: 10%;
        margin-bottom: 9vh;
    }
  }
