#main-page{
    height: inherit;
    width: inherit;
}

#how-it-works{
    min-height: 100vh;
    background-color: #9f5b00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header{
    margin-top: 100px;
    color: #c6c6c6;
    font-size: 70pt;
    font-weight: 600;
    font-family: 'Anton', sans-serif;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

@media screen and (max-width: 1600px) {
    .message-box{
        min-width: 300px;
        margin: 10px;
    }

    .section-header{
        font-size: 12vw;
    }
}
