#get-started{
    height: inherit;
    width: inherit;
    min-height: 100vh;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.6em;
}

.info-section {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: row;
}

.half-section{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-bottom: 0.01px solid lightgrey;
    overflow: hidden;
    min-height: 45vh;
}

.half-section-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.01px solid lightgrey;
    overflow: hidden;
    min-height: 45vh;
    padding: 40px;
}

.get-started-span{
    text-align: left;
    font-family: 'Lora', serif;
    word-wrap: break-word;
}

.get-started-questions{
    font-size: 18pt;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 25px;
    text-align: center;
}

#emphasis {
    font-size: 22pt;
}

.get-started-header{
    font-size: 30pt;
    font-weight: 800;
    font-family: 'Lora', serif;
    color: #b81301;
    text-align: center;
}

.get-started-contact{
    font-size: 15pt;
    font-weight: 800;
    margin-bottom: 20px;
}

.contact-photo{
    width: 100%;
}

#section-four {
    max-height: 50vh;
}

@media screen and (max-width: 800px) {
    .info-section{
        flex-direction: column;
        height: 100vh;
    }
    .half-section {
        width: 100%;
        border-bottom: none;
    }

    .half-section-text{
        font-size: 10pt;
    }

    .get-started-header{
        font-size:7vw;
    }

    .half-section-text {
        width: 100%;
        border-bottom: none;
        padding: 10px;
    }

    #emphasis {
        font-size: 5vw;
    }

    .get-started-questions{
        font-size: 4.5vw;
    }

    .get-started-contact{
        font-size: 4vw;
    }

    #section-two {
        flex-direction: column-reverse;
    }
    
    #section-four {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 2880px) {
    .half-section-text{
        font-size: 4vh;
    }

    #get-started-questions{
        font-size: 3vh;
    }

    #get-started-contact{
        font-size: 2.5vh;
    }

    .get-started-header{
        font-size: 4vh;
    }
}