#title {
    font-family: 'Lora', serif;
    font-size: 23pt;
    font-weight: 900;
    letter-spacing: 1.5px;
    margin-left: 50px;
    color: #7c0c00;
}

#nav-tabs{
    display: flex;
    flex-direction: row;
}

.nav-tab{
    font-family: 'Lora', serif;
    font-size: 15pt;
    margin: 10px;
    color: grey;
    padding: 0px !important;
}

.active {
    color: #7c0c00 !important;
}

.nav-tab:hover{
    color: #7c0c00 !important;
    cursor: pointer;
}

#navbar-logo {
    height: 50px;
    margin-right: 5px;
}

#header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    height: 0;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    box-shadow: 0px 2px 5px grey;
    min-height: 4.5em;
    background-color: rgba(255,255,255,0.97);
    z-index: 100;
}

#header-nav-tabs{
    display: flex;
    flex-direction: row;
    margin-right: 50px !important;
}

.navbar-collapse {
    background-color: #f4f4f4;
    margin-top: 3px;
    border: 1px solid lightgrey;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.collapsing {
    background-color: #f4f4f4;
    margin-top: 3px;
    border: 1px solid lightgrey;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}