#footer{
    background-color:#f3f9fa;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.footer-section-horizontal{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.footer-text{
    font-family: 'Lora', serif;
    color: #7c0c00;
    text-align: center;
}

.footer-text-link{
    font-family: 'Lora', serif;
    color: #7c0c00;
    text-align: center;
    margin: 10px;
}

.footer-text-link:hover{
    color: #520800;
}

.footer-text-attr{
    font-family: 'Lora', serif;
    color: #7c0c00;
    font-size: 8pt;;
}

#footer-title{
    font-size: 20pt;
}

#fb{
    height: 30px;
    margin-right: 20px;
}

#insta{
    height: 30px;
    margin-right: 20px;
}

#linked{
    height: 30px;
}

#footer-logo {
    height: 125px;
}

@media screen and (max-width: 1000px) {
    #footer{
        flex-direction: column;
    }
    
    #footer-title{
        font-size: 4vw;
    }

    #footer-information {
        font-size: 3vw;
    }

    .footer-section {
        margin: 10px;
    }

    .footer-text-attr {
        font-size: 2vw;
    }

    .footer-text-link {
        font-size: 4vw;
    }
}

@media screen and (min-width: 2880px) {
    
    #footer-title{
        font-size: 2.5vh;
    }

    #footer-information {
        font-size: 2vh;
    }

    .footer-section {
        margin: 10px;
    }

    .footer-text-attr {
        font-size: 1vh;
    }

    .footer-text-link {
        font-size: 2vh;
    }

    #fb{
        height: 2vh;
        margin-right: 20px;
    }
    
    #insta{
        height: 2vh;
        margin-right: 20px;
    }
    
    #linked{
        height: 2vh;
    }
}
