#parrallax{
    margin-top: 4.5rem;
}

.container-fluid{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parrallax-section{
    min-height: 100vh;
}

.parrallax-img {
    position: absolute;
}

#moon {
    height: 12vw;
    width: auto;
    top: 1%;
    left: 1%;
    opacity: 0.9;
}

#title-cloud {
    height: 10vw;
    width: auto;
    top: 12%;
    left: 5%;
    opacity: 0.85;
}

#title-cloud-2 {
    height: 11vw;
    width: auto;
    bottom: 12%;
    right: 5%;
    opacity: 0.5;
}

#star-cluster-topright{
    height: 5vh;
    width: auto;
    top: 20%;
    right: 20%;
    opacity: 0.2;
}

#star-cluster-bottom-left{
    height: 5vh;
    width: auto;
    bottom: 20%;
    left: 20%;
    opacity: 0.2;
}

#top{
    width: 100%;
    position: relative;
    background-image: linear-gradient(#040404, #14111a, #0b0b1c);    
}

#starry-background{
    height: 100vh;
    z-index: 1;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 5px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 3px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 5px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 3px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

#middle{
    background-image: linear-gradient(#0b0b1c, #4E162E, #c6151b);
}

#bottom {
    height: 100vh;
    justify-content: space-between;
    position: relative;
    background-image: linear-gradient(#c6151b, #ff8967, #fec051, yellow);
}

#title-one{
    font-family: 'Livvic', sans-serif;
    font-size: 5vw;
    color: white;
}

#title-two{
    font-family: 'Livvic', sans-serif;
    font-size: 5vw;
    color: white;
    text-align: center;
}

#help-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.message-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    background-color: #fffdfd;
    border-radius: 20px;
    box-shadow: 0px 1px 10px black;
    width: 50%;
    height: 25vh;
    padding: 20px;
    margin: 20px;
}

.message-box-text{
    text-align: center;
    font-size: 30pt;
    font-weight: 600;
    font-family: 'Livvic', sans-serif;
}

.message-box-img {
    height: 100px;
}

#ocean-scene {
    height: 30vh;
}

